<div fxFlex fxLayout="column" fxLayoutGap="5px" style="height: 100vh">
    <h1 id="title">{{title}}</h1>

      
    <div >
        <button  mat-raised-button  id="addUser" (click)="PopUpAdduser()">Add user</button>
    </div>
      

    <div fxLayout="row wrap">

        <div  fxFlex.xs="100%">

            <table mat-table [dataSource]="userList" class="mat-elevation-z8">
           

                <ng-container  matColumnDef="Name">
                    <th mat-header-cell width=100px text-align=center *matHeaderCellDef>/th>&nbsp;&nbsp;&nbsp;&nbsp;Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="Note">
                    <th mat-header-cell width=200px text-align=center *matHeaderCellDef>&nbsp;&nbsp;&nbsp;&nbsp;Add Note </th>
                    <td mat-cell *matCellDef="let element"> <Button mat-raised-button
                            (click)="AddNoteComponentTabel(element.name)">add Note</Button> </td>
                </ng-container>

                <ng-container matColumnDef="ShowAllNotes">
                    <th mat-header-cell width=200px text-align=center *matHeaderCellDef>&nbsp;&nbsp;&nbsp;&nbsp;Show all notes</th>
                    <td mat-cell *matCellDef="let element"> <Button mat-raised-button
                            (click)="GetNotesComponent(element.name)">Show notes of {{element.name}}</Button>
                    </td>
                </ng-container>


                <ng-container matColumnDef="ButtonRemoveAll">
                    <th mat-header-cell width=200px text-align=center *matHeaderCellDef>&nbsp;&nbsp;&nbsp;&nbsp;Remove all</th>
                    <td mat-cell *matCellDef="let element"> <Button mat-raised-button
                            (click)="DeleteUserEnNoteComponent(element.name)">Remove 
                            {{element.name}}</Button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsUsers"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: displayedColumnsUsers"></tr>
            </table>

          
        </div>

        

        <div *ngIf="addUser">
            <button mat-raised-button (click)="AddUserComponent()">Add a name: </button>
            <mat-form-field id="addName" appearance="fill">
                <mat-label>Give a name </mat-label>
                <input matInput min="1" max="50" type="string" [(ngModel)]="insertAddedName" #ctrl="ngModel"
                    required placeholder="max 50 chars">
                <mat-hint>{{addNameMessage}}</mat-hint>
            </mat-form-field>
        </div>

        <div>
            <button mat-raised-button *ngIf="isNoteAdded" (click)="AddNoteComponent()">add a Note for user {{insertNameNote}} </button>

            <mat-form-field id="NoteInput" *ngIf="isNoteAdded" appearance="fill">
                <mat-label>input note please</mat-label>
                <input matInput min="1" max="50" type="string" [(ngModel)]="addNote" #ctrl="ngModel" required
                    placeholder="max 150 chars">
                <mat-hint> {{addMessage}}</mat-hint>
            </mat-form-field>
        </div>



        <div  *ngIf="showNotes">
            <table id="tabelNotes" mat-table [dataSource]="noteList">

        

                <ng-container matColumnDef="content">
                    <th mat-header-cell *matHeaderCellDef> Notes from {{user}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.content}} </td>
                </ng-container>

          


                <tr mat-header-row *matHeaderRowDef="displayedColumnsNotes"></tr>
                <tr mat-row *matRowDef="let myRowData; columns: displayedColumnsNotes"></tr>
            </table>
        </div>

    </div>

</div>